body {
  font: 16px arial;
  background-color: #c0c0c0;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
}

.global-header {
  padding: 1em;
  background-color: black;
  color: white;
}

.global-header h1 {
  margin: 0;
  text-align: center;
}

.global-nav {
  background-color: #bada55;
}

.global-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .global-nav ul {
    flex-direction: column;
  }
}

.global-nav a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1em;
}

.global-nav a.current {
  background-color: darkgray;
}

.global-nav a:not(.current):hover {
  background-color: slategray;
  color: white;
}

.main {
  padding: 2em;
}

.photo {
  margin: 0;
  padding: 1em;
  border: 1px solid lightgray;
  float: right;
  margin-left: 2em;
}

.global-footer {
  padding: 1em;
  background-color: black;
  color: white;
  text-align: center;
}















/**/
