@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico');
body {
  font: 16px arial;
  background-color: #c0c0c0;
  font-family: 'Pacifico', cursive;
}

h1 {
  color: red;
  font-family: 'Indie Flower', cursive;
}
