body {
  font-family: arial;
  font-size: 16px;
  background-color: #3a7f7f;
}

h1 {
  color: white;
  margin: 0;
}

h2 {
  color: #3a7f7f;
}

h3 {
  color: #4b4b4b;
}

p {
  line-height: 1.5em;
  color: #333333;
}

.container {
  width: 1000px;
}

.header {
  background-color: #4b4b4b;
  padding: 1em;
}

.navigation {
  background-color: #ead967;
  padding: 1em;
}

.nav-item {
  color: #4b4b4b;
  text-decoration: none;
  font-weight: bold;
}

.content {
  background-color: #e8e8e8;
  padding: 1em;
}

.hero-image {
  margin: 0;
}

.footer {
  background-color: #ff9060;
  padding: 1em;
  text-align: right;
}
